main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  :is(button),
  mat-form-field {
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    margin: 10px 0;
  }

  :is(button){
    margin: 5px 0;

    &[mat-button]{
      width: auto;
    }
  }

  .aligned-right{
    text-align: right;
    width: 100%;
  }
}

